

#Me1 { color: blue;
      text-align: center; }
#Me2 { color: crimson; }
#Me3 { color: green; }

h1 { color: darkblue;
  Text-align:center;
      }
h2 { color: darkorange; }
#Me{
  text-align: center;
  background-color: plum;
}
#tho{
  background-color: yellow;
  text-align: center;
}


